{%- if paginate.pages > 1 -%}
  <nav class="pagination" aria-label="Pagination">
    {%- if paginate.previous -%}
      <a href="{{ paginate.previous.url }}" class="pagination-prev" data-pagination-link aria-label="Previous page">
        {% render 'icon', name: 'chevron-left', size: 16 %}
      </a>
    {%- endif -%}

    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <a href="{{ part.url }}" class="pagination-page" data-pagination-link>{{ part.title }}</a>
      {%- elsif part.title == paginate.current_page -%}
        <span class="pagination-page is-current" aria-current="page">{{ part.title }}</span>
      {%- else -%}
        <span class="pagination-page">{{ part.title }}</span>
      {%- endif -%}
    {%- endfor -%}

    {%- if paginate.next -%}
      <a href="{{ paginate.next.url }}" class="pagination-next" data-pagination-link aria-label="Next page">
        {% render 'icon', name: 'chevron-right', size: 16 %}
      </a>
    {%- endif -%}
  </nav>
{%- endif -%}
